node-services/blue-green.json
[{"id":"c88f614b.7a954","type":"tab","label":"TestSIA"},{"id":"5208ec8a.e7e824","type":"tab","label":"TestAIRASIA"},{"id":"1193e151.a13ddf","type":"tab","label":"FX_Generic"},{"id":"932bb120.c7c6c","type":"tab","label":"FX_SIA"},{"id":"b896028b.8eb87","type":"tab","label":"Test_mockCurrency(Direct- BOTH)"},{"id":"170e1ed5.d60941","type":"tab","label":"Activate_BLUE_SEMP"},{"id":"bc2e1f8c.8a335","type":"tab","label":"ActivateGREEN"},{"id":"aa7fc205.ef9f3","type":"http in","z":"1193e151.a13ddf","name":"","url":"/v1/quote-service/get-FX-rate/*","method":"post","swaggerDoc":"","x":231.5,"y":142,"wires":[["8c2016f7.faedf8"]]},{"id":"2498e4b2.ad7d3c","type":"http response","z":"1193e151.a13ddf","name":"HTTPResponse","x":1044.5,"y":142,"wires":[]},{"id":"a3df978b.1347f8","type":"http request","z":"b896028b.8eb87","name":"","method":"POST","ret":"txt","url":"127.0.0.1:1880/v1/quote-service/get-FX-rate","tls":"","x":366.5,"y":116,"wires":[["ea1bcfec.a68e4"]]},{"id":"816f7f1f.9d0d5","type":"inject","z":"b896028b.8eb87","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":185.5,"y":115,"wires":[["a3df978b.1347f8","5893b8eb.c74558"]]},{"id":"ea1bcfec.a68e4","type":"debug","z":"b896028b.8eb87","name":"","active":true,"console":"false","complete":"false","x":596.5,"y":124,"wires":[]},{"id":"8c2016f7.faedf8","type":"function","z":"1193e151.a13ddf","name":"MockResponse","func":"\nmsg.payload = '{\"timestamp\":1478592008,\"server\":\"BLUE\",\"base\":\"USD\",\"rates\":\"AED\": 3.672983,\"AFN\": 65.9504,\"ZWL\": 322.387247}}';\nreturn msg;","outputs":1,"noerr":0,"x":554.5,"y":145,"wires":[["2498e4b2.ad7d3c","9050b7ef.edd3f8"]]},{"id":"9050b7ef.edd3f8","type":"debug","z":"1193e151.a13ddf","name":"mockResponse","active":true,"console":"true","complete":"payload","x":871.5,"y":204,"wires":[]},{"id":"a985eb4f.990dd8","type":"http in","z":"932bb120.c7c6c","name":"","url":"/v1/quote-service/get-FX-rate/SIA","method":"post","swaggerDoc":"","x":207,"y":66,"wires":[["ba737ad5.c57658"]]},{"id":"142f3a02.6a5a76","type":"http response","z":"932bb120.c7c6c","name":"HTTPResponseSIA","x":785,"y":66,"wires":[]},{"id":"ba737ad5.c57658","type":"function","z":"932bb120.c7c6c","name":"MockResponse","func":"\nmsg.payload = '{\"timestamp\":1478592008,\"Server\":\"GREEN\",base\":\"USD\",\"rates\":\"AED\": 3.672983,\"AFN\": 65.9504,\"ZWL\": 322.387247}}';\nreturn msg;","outputs":1,"noerr":0,"x":538,"y":68,"wires":[["142f3a02.6a5a76","c313e9b8.9fed98"]]},{"id":"c313e9b8.9fed98","type":"debug","z":"932bb120.c7c6c","name":"mockResponseSIA","active":true,"console":"true","complete":"payload","x":643,"y":194,"wires":[]},{"id":"5893b8eb.c74558","type":"http request","z":"b896028b.8eb87","name":"","method":"POST","ret":"txt","url":"127.0.0.1:1880/v1/quote-service/get-FX-rate/SIA","tls":"","x":365,"y":190,"wires":[["213c7eaa.d01aa2"]]},{"id":"213c7eaa.d01aa2","type":"debug","z":"b896028b.8eb87","name":"","active":true,"console":"false","complete":"payload","x":592,"y":190,"wires":[]},{"id":"68a048ac.5d3738","type":"inject","z":"170e1ed5.d60941","name":"SEMP_Request_BLUE","topic":"","payload":"<rpc semp-version=\"soltr/7_2VMR\">   <message-vpn>       <vpn-name>default</vpn-name>       <rest>           <rest-delivery-point>               <name>BLUEopenexchangerates</name>               <no><shutdown/></no>           </rest-delivery-point>       </rest>   </message-vpn> </rpc>","payloadType":"str","repeat":"","crontab":"","once":false,"x":165.5,"y":136,"wires":[["32f2bc24.c7bd74"]]},{"id":"22480da.5381df2","type":"http request","z":"170e1ed5.d60941","name":"","method":"POST","ret":"txt","url":"192.168.56.51:8080/SEMP","tls":"","x":592.5,"y":97,"wires":[["2d487c59.bdaff4","d101c045.fd502"]]},{"id":"b61813ce.9c7ce","type":"debug","z":"170e1ed5.d60941","name":"SEMPGreenDown","active":true,"console":"false","complete":"true","x":1248.5,"y":221,"wires":[]},{"id":"d101c045.fd502","type":"debug","z":"170e1ed5.d60941","name":"SEMPBlueActive","active":true,"console":"false","complete":"true","x":814.5,"y":220,"wires":[]},{"id":"3d3c7929.a6aa06","type":"inject","z":"c88f614b.7a954","name":"start test","topic":"","payload":"192.168.56.51","payloadType":"str","repeat":"","crontab":"","once":false,"x":104.5,"y":130,"wires":[["bec68b10.d87088"]]},{"id":"b2afe676.2ca548","type":"http request","z":"c88f614b.7a954","name":"","method":"POST","ret":"txt","url":"192.168.56.51:9000/v1/quote-service/get-FX-rate/SIA/gbp/sgd","tls":"","x":511.5,"y":131,"wires":[["fc41a80d.222668"]]},{"id":"fc41a80d.222668","type":"debug","z":"c88f614b.7a954","name":"DebugCurrencyResponse","active":true,"console":"false","complete":"payload","x":688.5,"y":238,"wires":[]},{"id":"bec68b10.d87088","type":"function","z":"c88f614b.7a954","name":"AddSolaceHeaders","func":"msg.headers = {\n         \"Solace-Reply-Wait-Time-In-ms\": \"2000\"\n}\n     return msg;","outputs":1,"noerr":0,"x":298.5,"y":130,"wires":[["b2afe676.2ca548"]]},{"id":"32f2bc24.c7bd74","type":"function","z":"170e1ed5.d60941","name":"setBlueActive","func":"msg.payload = '<rpc semp-version=\"soltr/7_2VMR\"><message-vpn><vpn-name>default</vpn-name><rest><rest-delivery-point><name>BLUEopenexchangerates</name><no><shutdown/></no></rest-delivery-point></rest></message-vpn></rpc>';\nreturn msg;","outputs":1,"noerr":0,"x":407.5,"y":97,"wires":[["22480da.5381df2"]]},{"id":"2fcb5296.92b25e","type":"http request","z":"170e1ed5.d60941","name":"","method":"POST","ret":"txt","url":"192.168.56.51:8080/SEMP","tls":"","x":1021,"y":100,"wires":[["b61813ce.9c7ce"]]},{"id":"2d487c59.bdaff4","type":"function","z":"170e1ed5.d60941","name":"setGreenDOWN","func":"msg = {};\nmsg.payload = '<rpc semp-version=\"soltr/7_2VMR\"><message-vpn><vpn-name>default</vpn-name><rest><rest-delivery-point><name>GREENopenexchangerates</name><shutdown/></rest-delivery-point></rest></message-vpn></rpc>';\nreturn msg;","outputs":1,"noerr":0,"x":806,"y":102,"wires":[["2fcb5296.92b25e"]]},{"id":"50e91d36.28e7d4","type":"inject","z":"bc2e1f8c.8a335","name":"SEMP_Request_GREEN","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":65,"wires":[["856a7269.85b96"]]},{"id":"f1ff94c5.ecf0f8","type":"http request","z":"bc2e1f8c.8a335","name":"","method":"POST","ret":"txt","url":"192.168.56.51:8080/SEMP","tls":"","x":532,"y":64,"wires":[["692b3fa4.c8a59","e0704ad1.4bce88"]]},{"id":"692b3fa4.c8a59","type":"debug","z":"bc2e1f8c.8a335","name":"SEMPGreenActive","active":true,"console":"false","complete":"true","x":545,"y":289,"wires":[]},{"id":"856a7269.85b96","type":"function","z":"bc2e1f8c.8a335","name":"setGREENActive","func":"msg.payload = '<rpc semp-version=\"soltr/7_2VMR\"><message-vpn><vpn-name>default</vpn-name><rest><rest-delivery-point><name>GREENopenexchangerates</name><no><shutdown/></no></rest-delivery-point></rest></message-vpn></rpc>';\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":64,"wires":[["f1ff94c5.ecf0f8"]]},{"id":"364eaa62.fea8f6","type":"debug","z":"bc2e1f8c.8a335","name":"SEMPBlueDown","active":true,"console":"false","complete":"true","x":1157,"y":289,"wires":[]},{"id":"81a1b9e9.9cd148","type":"http request","z":"bc2e1f8c.8a335","name":"","method":"POST","ret":"txt","url":"192.168.56.51:8080/SEMP","tls":"","x":973.5,"y":63,"wires":[["364eaa62.fea8f6"]]},{"id":"e0704ad1.4bce88","type":"function","z":"bc2e1f8c.8a335","name":"setBlueDOWN","func":"msg = {};\nmsg.payload = '<rpc semp-version=\"soltr/7_2VMR\"><message-vpn><vpn-name>default</vpn-name><rest><rest-delivery-point><name>BLUEopenexchangerates</name><shutdown/></rest-delivery-point></rest></message-vpn></rpc>';\nreturn msg;","outputs":1,"noerr":0,"x":771.5,"y":66,"wires":[["81a1b9e9.9cd148"]]},{"id":"bbd3cdab.8f9e5","type":"inject","z":"5208ec8a.e7e824","name":"start test","topic":"","payload":"192.168.56.51","payloadType":"str","repeat":"","crontab":"","once":false,"x":131,"y":76,"wires":[["23f96513.44daaa"]]},{"id":"7602b3a0.7a3d9c","type":"http request","z":"5208ec8a.e7e824","name":"","method":"POST","ret":"txt","url":"192.168.56.51:9000/QUEUE/v1/quote-service/get-FX-rate/AIRASIA/myr/sgd","tls":"","x":538,"y":77,"wires":[["13dd7736.091779"]]},{"id":"13dd7736.091779","type":"debug","z":"5208ec8a.e7e824","name":"DebugCurrencyResponse","active":true,"console":"false","complete":"payload","x":715,"y":184,"wires":[]},{"id":"23f96513.44daaa","type":"function","z":"5208ec8a.e7e824","name":"AddSolaceHeaders","func":"msg.headers = {\n         \"Solace-Reply-Wait-Time-In-ms\": \"10000\"\n}\n     return msg;","outputs":1,"noerr":0,"x":325,"y":76,"wires":[["7602b3a0.7a3d9c"]]}]