flows_PScanlon-MBP.json
[{"id":"1193e151.a13ddf","type":"tab","label":"MockCurrencyBLUE"},{"id":"932bb120.c7c6c","type":"tab","label":"MockCurrencyGREEN"},{"id":"b896028b.8eb87","type":"tab","label":"Test_mockCurrency(BOTH)"},{"id":"ce4b916c.3fd45","type":"tab","label":"getOpenExchangeRates.org currencies"},{"id":"ba69efbe.ef98e","type":"tab","label":"SolaceSCALE REST Post"},{"id":"170e1ed5.d60941","type":"tab","label":"Activate_BLUE_SEMP"},{"id":"c88f614b.7a954","type":"tab","label":"TestCurrency"},{"id":"bc2e1f8c.8a335","type":"tab","label":"ActivateGREEN"},{"id":"e6efe749.82d3c8","type":"inject","z":"ce4b916c.3fd45","name":"","topic":"","payload":"blah","payloadType":"str","repeat":"","crontab":"","once":false,"x":98.25,"y":188.50000190734863,"wires":[["8469ce6b.1cb92"]]},{"id":"8469ce6b.1cb92","type":"http request","z":"ce4b916c.3fd45","name":"currencyPairs","method":"GET","ret":"obj","url":"https://openexchangerates.org/api/latest.json?app_id=dee8fb04da434c11b7cd69abc8b74bc0","tls":"","x":378.125,"y":187.50000286102295,"wires":[["3bf4f1fb.4dd49e"]]},{"id":"3bf4f1fb.4dd49e","type":"debug","z":"ce4b916c.3fd45","name":"","active":true,"console":"true","complete":"payload","x":644.375,"y":186.25,"wires":[]},{"id":"aee8e384.75a72","type":"inject","z":"ba69efbe.ef98e","name":"offWeGo","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":226.5,"y":102,"wires":[["64a7bd11.9c4894"]]},{"id":"8889e394.19ec5","type":"debug","z":"ba69efbe.ef98e","name":"","active":true,"console":"false","complete":"false","x":724.5,"y":90,"wires":[]},{"id":"64a7bd11.9c4894","type":"http request","z":"ba69efbe.ef98e","name":"","method":"POST","ret":"txt","url":"http://192.168.174.78:9002/rest/topic","tls":"","x":469.5,"y":109,"wires":[["8889e394.19ec5"]]},{"id":"aa7fc205.ef9f3","type":"http in","z":"1193e151.a13ddf","name":"","url":"/v1/quotes-service/get-rate-categories","method":"post","swaggerDoc":"","x":251.5,"y":142,"wires":[["8c2016f7.faedf8"]]},{"id":"2498e4b2.ad7d3c","type":"http response","z":"1193e151.a13ddf","name":"HTTPResponseBLUE","x":1064.5,"y":142,"wires":[]},{"id":"a3df978b.1347f8","type":"http request","z":"b896028b.8eb87","name":"","method":"POST","ret":"txt","url":"127.0.0.1:1880/v1/quotes-service/get-rate-categories","tls":"","x":366.5,"y":116,"wires":[["ea1bcfec.a68e4"]]},{"id":"816f7f1f.9d0d5","type":"inject","z":"b896028b.8eb87","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":185.5,"y":115,"wires":[["a3df978b.1347f8","5893b8eb.c74558"]]},{"id":"ea1bcfec.a68e4","type":"debug","z":"b896028b.8eb87","name":"","active":true,"console":"false","complete":"false","x":596.5,"y":124,"wires":[]},{"id":"8c2016f7.faedf8","type":"function","z":"1193e151.a13ddf","name":"MockResponse","func":"\nmsg.payload = '{\"timestamp\":1478592008,\"server\":\"BLUE\",\"base\":\"USD\",\"rates\":\"AED\": 3.672983,\"AFN\": 65.9504,\"ZWL\": 322.387247}}';\nreturn msg;","outputs":1,"noerr":0,"x":554.5,"y":145,"wires":[["2498e4b2.ad7d3c","9050b7ef.edd3f8"]]},{"id":"9050b7ef.edd3f8","type":"debug","z":"1193e151.a13ddf","name":"mockResponseBLUE","active":true,"console":"false","complete":"payload","x":891.5,"y":204,"wires":[]},{"id":"a985eb4f.990dd8","type":"http in","z":"932bb120.c7c6c","name":"","url":"/v2/quotes-service/get-rate-categories","method":"post","swaggerDoc":"","x":217,"y":66,"wires":[["ba737ad5.c57658"]]},{"id":"142f3a02.6a5a76","type":"http response","z":"932bb120.c7c6c","name":"HTTPResponseGREEN","x":805,"y":66,"wires":[]},{"id":"ba737ad5.c57658","type":"function","z":"932bb120.c7c6c","name":"MockResponse","func":"\nmsg.payload = '{\"timestamp\":1478592008,\"Server\":\"GREEN\",base\":\"USD\",\"rates\":\"AED\": 3.672983,\"AFN\": 65.9504,\"ZWL\": 322.387247}}';\nreturn msg;","outputs":1,"noerr":0,"x":538,"y":68,"wires":[["142f3a02.6a5a76","c313e9b8.9fed98"]]},{"id":"c313e9b8.9fed98","type":"debug","z":"932bb120.c7c6c","name":"mockResponseGREEN","active":true,"console":"false","complete":"payload","x":663,"y":194,"wires":[]},{"id":"5893b8eb.c74558","type":"http request","z":"b896028b.8eb87","name":"","method":"POST","ret":"txt","url":"127.0.0.1:1880/v2/quotes-service/get-rate-categories","tls":"","x":365,"y":190,"wires":[["213c7eaa.d01aa2"]]},{"id":"213c7eaa.d01aa2","type":"debug","z":"b896028b.8eb87","name":"","active":true,"console":"false","complete":"false","x":592,"y":190,"wires":[]},{"id":"68a048ac.5d3738","type":"inject","z":"170e1ed5.d60941","name":"SEMP_Request_BLUE","topic":"","payload":"<rpc semp-version=\"soltr/7_2VMR\">   <message-vpn>       <vpn-name>SCALE</vpn-name>       <rest>           <rest-delivery-point>               <name>BLUEopenexchangerates</name>               <no><shutdown/></no>           </rest-delivery-point>       </rest>   </message-vpn> </rpc>","payloadType":"str","repeat":"","crontab":"","once":false,"x":165.5,"y":136,"wires":[["32f2bc24.c7bd74"]]},{"id":"22480da.5381df2","type":"http request","z":"170e1ed5.d60941","name":"","method":"POST","ret":"txt","url":"192.168.56.101:8080/SEMP","tls":"","x":592.5,"y":97,"wires":[["2d487c59.bdaff4","d101c045.fd502"]]},{"id":"b61813ce.9c7ce","type":"debug","z":"170e1ed5.d60941","name":"SEMPGreenDown","active":true,"console":"false","complete":"true","x":1248.5,"y":221,"wires":[]},{"id":"d101c045.fd502","type":"debug","z":"170e1ed5.d60941","name":"SEMPBlueActive","active":true,"console":"false","complete":"true","x":814.5,"y":220,"wires":[]},{"id":"3d3c7929.a6aa06","type":"inject","z":"c88f614b.7a954","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104.5,"y":130,"wires":[["bec68b10.d87088"]]},{"id":"b2afe676.2ca548","type":"http request","z":"c88f614b.7a954","name":"","method":"POST","ret":"txt","url":"192.168.174.78:9002/QUEUE/v1/quotes-service/get-rate-categories","tls":"","x":511.5,"y":131,"wires":[["fc41a80d.222668"]]},{"id":"fc41a80d.222668","type":"debug","z":"c88f614b.7a954","name":"TEstCurrencyResponse","active":true,"console":"false","complete":"payload","x":688.5,"y":238,"wires":[]},{"id":"bec68b10.d87088","type":"function","z":"c88f614b.7a954","name":"AddSolaceHeaders","func":"msg.headers = {\n         \"Solace-Reply-Wait-Time-In-ms\": \"10000\"\n}\n     return msg;","outputs":1,"noerr":0,"x":298.5,"y":130,"wires":[["b2afe676.2ca548"]]},{"id":"32f2bc24.c7bd74","type":"function","z":"170e1ed5.d60941","name":"setBlueActive","func":"msg.payload = '<rpc semp-version=\"soltr/7_2VMR\"><message-vpn><vpn-name>SCALE</vpn-name><rest><rest-delivery-point><name>BLUEopenexchangerates</name><no><shutdown/></no></rest-delivery-point></rest></message-vpn></rpc>';\nreturn msg;","outputs":1,"noerr":0,"x":407.5,"y":97,"wires":[["22480da.5381df2","442050bb.44053"]]},{"id":"2fcb5296.92b25e","type":"http request","z":"170e1ed5.d60941","name":"","method":"POST","ret":"txt","url":"192.168.56.101:8080/SEMP","tls":"","x":1021,"y":100,"wires":[["b61813ce.9c7ce"]]},{"id":"2d487c59.bdaff4","type":"function","z":"170e1ed5.d60941","name":"setGreenDOWN","func":"msg = {};\nmsg.payload = '<rpc semp-version=\"soltr/7_2VMR\"><message-vpn><vpn-name>SCALE</vpn-name><rest><rest-delivery-point><name>GREENopenexchangerates</name><shutdown/></rest-delivery-point></rest></message-vpn></rpc>';\nreturn msg;","outputs":1,"noerr":0,"x":806,"y":102,"wires":[["2fcb5296.92b25e","a658ad8e.65aa8"]]},{"id":"50e91d36.28e7d4","type":"inject","z":"bc2e1f8c.8a335","name":"SEMP_Request_GREEN","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":65,"wires":[["856a7269.85b96"]]},{"id":"f1ff94c5.ecf0f8","type":"http request","z":"bc2e1f8c.8a335","name":"","method":"POST","ret":"txt","url":"192.168.56.101:8080/SEMP","tls":"","x":532,"y":64,"wires":[["692b3fa4.c8a59","e0704ad1.4bce88"]]},{"id":"692b3fa4.c8a59","type":"debug","z":"bc2e1f8c.8a335","name":"SEMPGreenActive","active":true,"console":"false","complete":"true","x":545,"y":289,"wires":[]},{"id":"856a7269.85b96","type":"function","z":"bc2e1f8c.8a335","name":"setGREENActive","func":"msg.payload = '<rpc semp-version=\"soltr/7_2VMR\"><message-vpn><vpn-name>SCALE</vpn-name><rest><rest-delivery-point><name>GREENopenexchangerates</name><no><shutdown/></no></rest-delivery-point></rest></message-vpn></rpc>';\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":64,"wires":[["f1ff94c5.ecf0f8"]]},{"id":"442050bb.44053","type":"debug","z":"170e1ed5.d60941","name":"blueA","active":true,"console":"false","complete":"true","x":534.5,"y":212,"wires":[]},{"id":"a658ad8e.65aa8","type":"debug","z":"170e1ed5.d60941","name":"GreenDA","active":true,"console":"false","complete":"true","x":1013.5,"y":220,"wires":[]},{"id":"364eaa62.fea8f6","type":"debug","z":"bc2e1f8c.8a335","name":"SEMPBlueDown","active":true,"console":"false","complete":"true","x":1157,"y":292,"wires":[]},{"id":"81a1b9e9.9cd148","type":"http request","z":"bc2e1f8c.8a335","name":"","method":"POST","ret":"txt","url":"192.168.56.101:8080/SEMP","tls":"","x":951.5,"y":186,"wires":[["364eaa62.fea8f6"]]},{"id":"e0704ad1.4bce88","type":"function","z":"bc2e1f8c.8a335","name":"setBlueDOWN","func":"msg = {};\nmsg.payload = '<rpc semp-version=\"soltr/7_2VMR\"><message-vpn><vpn-name>SCALE</vpn-name><rest><rest-delivery-point><name>BLUEopenexchangerates</name><shutdown/></rest-delivery-point></rest></message-vpn></rpc>';\nreturn msg;","outputs":1,"noerr":0,"x":761.5,"y":189,"wires":[["81a1b9e9.9cd148"]]}]