node-rest-wrapper/RESTGet/app/.scb_scale_facade_in.backup
[{"id":"33546649.4b843a","type":"tab","label":"GET to POST Facade"},{"id":"f5e0cba5.ddfa68","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"56d6d980.aad668","type":"http in","z":"33546649.4b843a","name":"HTTP GET Req","url":"/*","method":"get","swaggerDoc":"","x":487.5,"y":53,"wires":[["401b0715.9f4c58","5be00d70.0cfd04"]]},{"id":"a64dc1d.8de9e4","type":"http response","z":"33546649.4b843a","name":"HTTP Response","x":657.5,"y":427,"wires":[]},{"id":"401b0715.9f4c58","type":"json","z":"33546649.4b843a","name":"json_get","x":544.5,"y":148,"wires":[["45b99e04.967f4"]]},{"id":"451032e3.03628c","type":"http request","z":"33546649.4b843a","name":"Solace Request Reply","method":"POST","ret":"txt","url":"","tls":"","x":344.5,"y":371,"wires":[["5d361918.6159f8","d6c8e5e6.054d98"]]},{"id":"45b99e04.967f4","type":"function","z":"33546649.4b843a","name":"Request Message","func":"msg.headers = {};\nmsg.headers['Solace-Reply-Wait-Time-In-ms'] = global.get(\"solace_timeout\");\nmsg.headers['Solace-Time-To-Live-In-ms'] = global.get(\"solace_timeout\");\nmsg.headers['Solace-DMQ-Eligible'] = 'true';\nmsg.headers['solace-user-property-orig-url'] = '\"' + msg.req.url + '\"';\nmsg.headers['solace-user-property-orig-method'] = 'GET';\n//msg.headers['solace-user-property-scale_ts'] = msg.req.headers['scale_ts'];\n//msg.headers['solace-user-property-scale_hmac'] = msg.req.headers['scale_hmac'];\n//msg.headers['solace-user-property-scale_tx_id'] = msg.req.headers['scale_tx_id'];\n\nObject.keys(msg.req.headers).forEach(function(key) {\n    if (key.indexOf(\"scale\") === 0) {\n        var name = 'solace-user-property-' + key;\n        msg.headers[name] = '\"' + msg.req.headers[key] + '\"' ;\n    }\n});\n// node.log(\"global solace_host=\" + global.get(\"solace_host\"));\n\nif (msg.req.url.includes(\"?\"))\n{\n//node.log (msg.req.url.slice(0, msg.req.url.indexOf(\"?\")));\nmsg.url=global.get(\"solace_host\")+ msg.req.url.slice(0, msg.req.url.indexOf(\"?\"));\n} else\n{\n//node.log (msg.req.url);\nmsg.url=global.get(\"solace_host\")+ msg.req.url;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":445.5,"y":234,"wires":[["451032e3.03628c"]]},{"id":"5d361918.6159f8","type":"function","z":"33546649.4b843a","name":"Response Message","func":"delete msg.statusCode;\ndelete msg.responseUrl;\nreturn msg;","outputs":1,"noerr":0,"x":371.5,"y":485,"wires":[["a64dc1d.8de9e4"]]},{"id":"f31c66a4.cd64b8","type":"catch","z":"33546649.4b843a","name":"Catch Error","scope":null,"x":111.5,"y":565,"wires":[["b7f8899a.5c75c8"]]},{"id":"b7f8899a.5c75c8","type":"function","z":"33546649.4b843a","name":"Error Message","func":"msg = {};\nmsg.statusCode = '400';\nmsg.payload = '{ \"Message\": \"Error\" }';\nreturn msg;","outputs":1,"noerr":0,"x":388.5,"y":569,"wires":[["4628b2b6.fe032c"]]},{"id":"4628b2b6.fe032c","type":"http response","z":"33546649.4b843a","name":"HTTP Request Error","x":674.5,"y":550,"wires":[]},{"id":"5be00d70.0cfd04","type":"debug","z":"33546649.4b843a","name":"GET Facade Request","active":false,"console":"false","complete":"true","x":692.5,"y":53,"wires":[]},{"id":"8ed37c05.bc77b","type":"http in","z":"33546649.4b843a","name":"HTTP POST Req","url":"/*","method":"post","swaggerDoc":"","x":106.5,"y":99,"wires":[["90f6c88.befe338","85b2e281.e623b"]]},{"id":"90f6c88.befe338","type":"debug","z":"33546649.4b843a","name":"POST Facade Request","active":false,"console":"false","complete":"true","x":302.5,"y":100,"wires":[]},{"id":"85b2e281.e623b","type":"json","z":"33546649.4b843a","name":"json_post","x":108,"y":157,"wires":[["6893b11d.1cf35"]]},{"id":"6893b11d.1cf35","type":"function","z":"33546649.4b843a","name":"Request Message","func":"msg.headers = {};\nmsg.headers['Solace-Reply-Wait-Time-In-ms'] = global.get(\"solace_timeout\");\nmsg.headers['Solace-Time-To-Live-In-ms'] = global.get(\"solace_timeout\");\nmsg.headers['Solace-DMQ-Eligible'] = 'true';\nmsg.headers['solace-user-property-orig-url'] = '\"' + msg.req.url + '\"';\nmsg.headers['solace-user-property-orig-method'] = 'POST';\n//msg.headers['solace-user-property-scale_ts'] = msg.req.headers['scale_ts'];\n//msg.headers['solace-user-property-scale_hmac'] = msg.req.headers['scale_hmac'];\n//msg.headers['solace-user-property-scale_tx_id'] = msg.req.headers['scale_tx_id'];\n\nObject.keys(msg.req.headers).forEach(function(key) {\n    if (key.indexOf(\"scale\") === 0) {\n        var name = 'solace-user-property-' + key;\n        msg.headers[name] = '\"' + msg.req.headers[key] + '\"' ;\n    }\n});\n\n//node.log(\"global solace_host=\" + global.get(\"solace_host\"));\n\nif (msg.req.url.includes(\"?\"))\n{\n//node.log (msg.req.url.slice(0, msg.req.url.indexOf(\"?\")));\nmsg.url=global.get(\"solace_host\")+ msg.req.url.slice(0, msg.req.url.indexOf(\"?\"));\n} else\n{\n//node.log (msg.req.url);\nmsg.url=global.get(\"solace_host\")+ msg.req.url;\n}\nreturn msg;","outputs":1,"noerr":0,"x":113,"y":241,"wires":[["451032e3.03628c"]]},{"id":"d6c8e5e6.054d98","type":"debug","z":"33546649.4b843a","name":"","active":true,"console":"false","complete":"true","x":540.5,"y":359,"wires":[]}]