node-rest-wrapper/RESTGet/app/scb_scale_facade_out
[{"id":"e3dcc4c4.b266e8","type":"tab","label":"POST to Actual GET Service"},{"id":"a146c8e5.5c4828","type":"tab","label":"Actual GET Service"},{"id":"90676cbf.4d3c8","type":"http in","z":"e3dcc4c4.b266e8","name":"HTTP Request","url":"/*","method":"post","swaggerDoc":"","x":140,"y":69,"wires":[["200a52cc.ef2d4e","1bebf941.7d92c7"]]},{"id":"94b26579.96e7b8","type":"http response","z":"e3dcc4c4.b266e8","name":"HTTP Response","x":711,"y":368,"wires":[]},{"id":"fc3afb22.a11ab8","type":"catch","z":"e3dcc4c4.b266e8","name":"","scope":null,"x":130.5,"y":458,"wires":[["29472c74.aa0964"]]},{"id":"29472c74.aa0964","type":"function","z":"e3dcc4c4.b266e8","name":"Error Message","func":"msg = {};\nmsg.statusCode = '400';\nmsg.payload = '{ \"Message\": \"Error\" }';\nreturn msg;","outputs":1,"noerr":0,"x":462,"y":460,"wires":[["94b26579.96e7b8"]]},{"id":"2d2bebf4.fd6574","type":"http request","z":"e3dcc4c4.b266e8","name":"Actual GET Service","method":"GET","ret":"txt","url":"","tls":"","x":277.5,"y":247,"wires":[["b1c1545.bd474a8","e0940d9b.32c54"]]},{"id":"200a52cc.ef2d4e","type":"function","z":"e3dcc4c4.b266e8","name":"Setup Actual GET URL","func":"msg.headers = {};\n//msg.headers['solace-user-property-orig-url'] = msg.req.headers['solace-user-property-orig-url'];\n//msg.headers['solace-user-property-scale_ts'] = msg.req.headers['solace-user-property-scale_ts'];\n//msg.headers['solace-user-property-scale_hmac'] = msg.req.headers['solace-user-property-scale_hmac'];\n//msg.headers['solace-user-property-scale_tx_id'] = msg.req.headers['solace-user-property-scale_tx_id'];\nObject.keys(msg.req.headers).forEach(function(key) {\n    if (key.indexOf(\"solace-user-property-scale\") === 0) {\n        msg.headers[key.replace('solace-user-property-scale','scale')] = msg.req.headers[key];\n    }\n});\n\nnode.log(\"global solace_host=\" + global.get(\"scb_actual_host\"));\nmsg.url = global.get(\"scb_actual_host\") + msg.req.headers['solace-user-property-orig-url'];\nnode.log(msg.url);\nreturn msg;","outputs":1,"noerr":0,"x":302.5,"y":148,"wires":[["b1ccac40.84741"]]},{"id":"b1c1545.bd474a8","type":"function","z":"e3dcc4c4.b266e8","name":"Response Message","func":"delete msg.statusCode;\ndelete msg.responseUrl;\nreturn msg;","outputs":1,"noerr":0,"x":488,"y":330,"wires":[["94b26579.96e7b8"]]},{"id":"722e17bd.720c18","type":"http in","z":"a146c8e5.5c4828","name":"HTTP Request","url":"/*","method":"get","swaggerDoc":"","x":155,"y":84,"wires":[["4eb6beff.49a4","1f70137c.87319d"]]},{"id":"4eb6beff.49a4","type":"debug","z":"a146c8e5.5c4828","name":"GET Request","active":true,"console":"false","complete":"true","x":618,"y":85,"wires":[]},{"id":"1f70137c.87319d","type":"function","z":"a146c8e5.5c4828","name":"Response Message","func":"msg.statusCode = \"200\";\nmsg.payload = '{ ' + '\"Message\": \"GET Actual Service Success at ' + new Date().toString() + '\" }';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":187,"wires":[["cd73b3f5.c9e87"]]},{"id":"cd73b3f5.c9e87","type":"http response","z":"a146c8e5.5c4828","name":"HTTP Response","x":635,"y":257,"wires":[]},{"id":"3b12d595.e0802a","type":"catch","z":"a146c8e5.5c4828","name":"","scope":null,"x":147.5,"y":398,"wires":[["b686ec69.715d4"]]},{"id":"b686ec69.715d4","type":"function","z":"a146c8e5.5c4828","name":"Error Message","func":"msg = {};\nmsg.statusCode = '400';\nmsg.payload = '{ \"Message\": \"Error\" }';\nreturn msg;","outputs":1,"noerr":0,"x":387,"y":330,"wires":[["cd73b3f5.c9e87"]]},{"id":"1bebf941.7d92c7","type":"debug","z":"e3dcc4c4.b266e8","name":"POST Request","active":false,"console":"true","complete":"req.headers['solace-user-property-orig-method']","x":630,"y":69,"wires":[]},{"id":"f6eee29c.08b94","type":"http request","z":"e3dcc4c4.b266e8","name":"Actual POST Service","method":"POST","ret":"txt","url":"","tls":"","x":743,"y":244,"wires":[["b1c1545.bd474a8","c5ff23a1.17ee2"]]},{"id":"b1ccac40.84741","type":"switch","z":"e3dcc4c4.b266e8","name":"switch to get or post","property":"req.headers['solace-user-property-orig-method']","propertyType":"msg","rules":[{"t":"eq","v":"POST","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":581.5,"y":152,"wires":[["f6eee29c.08b94","2682d268.aa51de"],["777703a5.4c454c","2d2bebf4.fd6574"]]},{"id":"c5ff23a1.17ee2","type":"debug","z":"e3dcc4c4.b266e8","name":"POST service","active":true,"console":"false","complete":"true","x":1006.5,"y":244,"wires":[]},{"id":"e0940d9b.32c54","type":"debug","z":"e3dcc4c4.b266e8","name":"GET service","active":true,"console":"false","complete":"true","x":485.5,"y":246,"wires":[]},{"id":"2682d268.aa51de","type":"debug","z":"e3dcc4c4.b266e8","name":"POST path","active":false,"console":"false","complete":"true","x":860.5,"y":101,"wires":[]},{"id":"777703a5.4c454c","type":"debug","z":"e3dcc4c4.b266e8","name":"GET Path","active":false,"console":"false","complete":"true","x":850.5,"y":157,"wires":[]}]