node-rest-wrapper/RESTGet/backend-service/scb_scale_backend
[{"id":"a146c8e5.5c4828","type":"tab","label":"Actual GET Service"},{"id":"722e17bd.720c18","type":"http in","z":"a146c8e5.5c4828","name":"HTTP GET Request","url":"/*","method":"get","swaggerDoc":"","x":165,"y":84,"wires":[["4eb6beff.49a4","1f70137c.87319d"]]},{"id":"4eb6beff.49a4","type":"debug","z":"a146c8e5.5c4828","name":"GET Request","active":true,"console":"false","complete":"true","x":618,"y":85,"wires":[]},{"id":"1f70137c.87319d","type":"function","z":"a146c8e5.5c4828","name":"GET Response Message","func":"msg.statusCode = \"200\";\n\n// if (global.get(\"blue_green_colour\")==\"blue\") {\n// msg.payload = '{ ' + '\"Message\": \"[Success] url: ' + msg.req.url + ', host: ' + msg.req.headers['host'] + ', colour: ' + global.get(\"blue_green_colour\")+ ', time: ' + new Date().toString() + '\" }\\n';\n// } else {\n// msg.payload = '{\"clientID\": \"XYZ\",\"clientRequestID\": \"TX1-SCALE-TX-1OSAYT9H8EDKV\", \"status\": \"SUCCESS\",\"rates\":[    } ]}{}, {\"rateType\": \"TRADABLE\", \"rateQuoteID\": \"XYZ-1LX3XUS5K0GT9\", \"rateCategoryID\": \"CatA\",\"validFrom\": 1443150225448, \"validTill\": 1443323025448, \"buyCurrency\": \"GBP\",\"sellCurrency\": \"SGD\",\"tenor\": 2,\"rate\": 2.1395,\"clientRateType\": \"RETAIL\",\"status\": \"GOOD\"\"rateType\": \"TRADABLE\", \"rateQuoteID\": \"XYZ-12QJL9EBI9FPK\", \"rateCategoryID\": \"CatA\",\"validFrom\": 1443150225448, \"validTill\": 1443323025448, \"buyCurrency\": \"AUD\", \"sellCurrency\": \"MYR\",\"tenor\": 2,\"rate\": 3.2169,\"clientRateType\": \"RETAIL\",\"status\": \"GOOD\"';\n// }\n\nmsg.payload = '{ ' + '\"Message\": \"[Success] url: ' + msg.req.url + ', host: ' + msg.req.headers['host'] + ', colour: ' + global.get(\"blue_green_colour\")+ ', time: ' + new Date().toString() + '\" }\\n';\n\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":187,"wires":[["cd73b3f5.c9e87"]]},{"id":"cd73b3f5.c9e87","type":"http response","z":"a146c8e5.5c4828","name":"GET HTTP Response","x":655,"y":257,"wires":[]},{"id":"3b12d595.e0802a","type":"catch","z":"a146c8e5.5c4828","name":"","scope":["b686ec69.715d4","cd73b3f5.c9e87","4eb6beff.49a4","1f70137c.87319d","722e17bd.720c18"],"x":147.5,"y":398,"wires":[["b686ec69.715d4"]]},{"id":"b686ec69.715d4","type":"function","z":"a146c8e5.5c4828","name":"GET Error Message","func":"msg = {};\nmsg.statusCode = '400';\nmsg.payload = '{ \"Message\": \"Error\" }';\nreturn msg;","outputs":1,"noerr":0,"x":397,"y":330,"wires":[["cd73b3f5.c9e87"]]},{"id":"4acc0962.b55748","type":"http in","z":"a146c8e5.5c4828","name":"HTTP POST Request","url":"/*","method":"post","swaggerDoc":"","x":172,"y":516,"wires":[["6012882.a6d3e78","1b4b7b45.9ba805"]]},{"id":"6012882.a6d3e78","type":"debug","z":"a146c8e5.5c4828","name":"POST Request","active":true,"console":"false","complete":"true","x":625,"y":517,"wires":[]},{"id":"1b4b7b45.9ba805","type":"function","z":"a146c8e5.5c4828","name":"POST Response Message","func":"msg.statusCode = \"200\";\n\n// if (global.get(\"blue_green_colour\")==\"blue\") {\n// msg.payload = '{ ' + '\"Message\": \"[Success] url: ' + msg.req.url + ', host: ' + msg.req.headers['host'] + ', colour: ' + global.get(\"blue_green_colour\")+ ', time: ' + new Date().toString() + '\" }\\n';\n// } else {\n// msg.payload = '{\"clientID\": \"XYZ\",\"clientRequestID\": \"TX1-SCALE-TX-1OSAYT9H8EDKV\", \"status\": \"SUCCESS\",\"rates\":[    } ]}{}, {\"rateType\": \"TRADABLE\", \"rateQuoteID\": \"XYZ-1LX3XUS5K0GT9\", \"rateCategoryID\": \"CatA\",\"validFrom\": 1443150225448, \"validTill\": 1443323025448, \"buyCurrency\": \"GBP\",\"sellCurrency\": \"SGD\",\"tenor\": 2,\"rate\": 2.1395,\"clientRateType\": \"RETAIL\",\"status\": \"GOOD\"\"rateType\": \"TRADABLE\", \"rateQuoteID\": \"XYZ-12QJL9EBI9FPK\", \"rateCategoryID\": \"CatA\",\"validFrom\": 1443150225448, \"validTill\": 1443323025448, \"buyCurrency\": \"AUD\", \"sellCurrency\": \"MYR\",\"tenor\": 2,\"rate\": 3.2169,\"clientRateType\": \"RETAIL\",\"status\": \"GOOD\"';\n// }\n\nmsg.payload = '{ ' + '\"Message\": \"[Success] url: ' + msg.req.url + ', host: ' + msg.req.headers['host'] + ', colour: ' + global.get(\"blue_green_colour\")+ ', time: ' + new Date().toString() + '\" }\\n';\n\n\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":619,"wires":[["7f2d84d5.f858dc"]]},{"id":"7f2d84d5.f858dc","type":"http response","z":"a146c8e5.5c4828","name":"POST HTTP Response","x":652,"y":689,"wires":[]},{"id":"84ac5fc2.98ce2","type":"catch","z":"a146c8e5.5c4828","name":"","scope":["4acc0962.b55748","8537c8fc.db13d8","7f2d84d5.f858dc","6012882.a6d3e78","1b4b7b45.9ba805"],"x":144.5,"y":830,"wires":[["8537c8fc.db13d8"]]},{"id":"8537c8fc.db13d8","type":"function","z":"a146c8e5.5c4828","name":"POST Error Message","func":"msg = {};\nmsg.statusCode = '400';\nmsg.payload = '{ \"Message\": \"Error\" }';\nreturn msg;","outputs":1,"noerr":0,"x":404,"y":762,"wires":[["7f2d84d5.f858dc"]]}]