node-rest-wrapper/RESTGet/backend-service/scb_scale_backend.old
[{"id":"e3dcc4c4.b266e8","type":"tab","label":"POST to Actual GET Service"},{"id":"a146c8e5.5c4828","type":"tab","label":"Actual GET Service"},{"id":"90676cbf.4d3c8","type":"http in","z":"e3dcc4c4.b266e8","name":"HTTP Request","url":"/*","method":"post","swaggerDoc":"","x":140,"y":69,"wires":[["200a52cc.ef2d4e","1bebf941.7d92c7"]]},{"id":"94b26579.96e7b8","type":"http response","z":"e3dcc4c4.b266e8","name":"HTTP Response","x":711,"y":368,"wires":[]},{"id":"fc3afb22.a11ab8","type":"catch","z":"e3dcc4c4.b266e8","name":"","scope":null,"x":132.5,"y":383,"wires":[["29472c74.aa0964"]]},{"id":"29472c74.aa0964","type":"function","z":"e3dcc4c4.b266e8","name":"Error Message","func":"msg = {};\nmsg.statusCode = '400';\nmsg.payload = '{ \"Message\": \"Error\" }';\nreturn msg;","outputs":1,"noerr":0,"x":462,"y":460,"wires":[["94b26579.96e7b8"]]},{"id":"2d2bebf4.fd6574","type":"http request","z":"e3dcc4c4.b266e8","name":"Actual GET Service","method":"GET","ret":"txt","url":"","tls":"","x":379.5,"y":241,"wires":[["b1c1545.bd474a8"]]},{"id":"200a52cc.ef2d4e","type":"function","z":"e3dcc4c4.b266e8","name":"Setup Actual GET URL","func":"msg.headers = {};\n//msg.headers['solace-user-property-orig-url'] = msg.req.headers['solace-user-property-orig-url'];\n//msg.headers['solace-user-property-scale_ts'] = msg.req.headers['solace-user-property-scale_ts'];\n//msg.headers['solace-user-property-scale_hmac'] = msg.req.headers['solace-user-property-scale_hmac'];\n//msg.headers['solace-user-property-scale_tx_id'] = msg.req.headers['solace-user-property-scale_tx_id'];\nObject.keys(msg.req.headers).forEach(function(key) {\n    if (key.indexOf(\"solace-user-property-scale\") === 0) {\n        msg.headers[key.replace('solace-user-property-scale','scale')] = msg.req.headers[key];\n    }\n});\n\n//node.log(\"global solace_host=\" + global.get(\"scb_actual_host\"));\nmsg.url = global.get(\"scb_actual_host\") + msg.req.headers['solace-user-property-orig-url'];\nreturn msg;","outputs":1,"noerr":0,"x":302.5,"y":148,"wires":[["2d2bebf4.fd6574"]]},{"id":"b1c1545.bd474a8","type":"function","z":"e3dcc4c4.b266e8","name":"Response Message","func":"delete msg.statusCode;\ndelete msg.responseUrl;\nreturn msg;","outputs":1,"noerr":0,"x":446,"y":324,"wires":[["94b26579.96e7b8"]]},{"id":"722e17bd.720c18","type":"http in","z":"a146c8e5.5c4828","name":"HTTP Request","url":"/*","method":"get","swaggerDoc":"","x":155,"y":84,"wires":[["4eb6beff.49a4","1f70137c.87319d"]]},{"id":"4eb6beff.49a4","type":"debug","z":"a146c8e5.5c4828","name":"GET Request","active":true,"console":"false","complete":"true","x":618,"y":85,"wires":[]},{"id":"1f70137c.87319d","type":"function","z":"a146c8e5.5c4828","name":"Response Message","func":"msg.statusCode = \"200\";\nmsg.payload = '{ ' + '\"Message\": \"[Success] url: ' + msg.req.url + ', host: ' + msg.req.headers['host'] + ', colour: ' + global.get(\"blue_green_colour\")+ ', time: ' + new Date().toString() + '\" }\\n';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":187,"wires":[["cd73b3f5.c9e87"]]},{"id":"cd73b3f5.c9e87","type":"http response","z":"a146c8e5.5c4828","name":"HTTP Response","x":635,"y":257,"wires":[]},{"id":"3b12d595.e0802a","type":"catch","z":"a146c8e5.5c4828","name":"","scope":null,"x":147.5,"y":398,"wires":[["b686ec69.715d4"]]},{"id":"b686ec69.715d4","type":"function","z":"a146c8e5.5c4828","name":"Error Message","func":"msg = {};\nmsg.statusCode = '400';\nmsg.payload = '{ \"Message\": \"Error\" }';\nreturn msg;","outputs":1,"noerr":0,"x":387,"y":330,"wires":[["cd73b3f5.c9e87"]]},{"id":"1bebf941.7d92c7","type":"debug","z":"e3dcc4c4.b266e8","name":"POST Request","active":true,"console":"false","complete":"true","x":630,"y":69,"wires":[]}]